name: Run quality checks
run-name: ${{ github.actor }} triggered quality check pipeline
on:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - main
      - dev

env:
  SLACK_WEBHOOK_URL: '${{ secrets.SLACK_WEBHOOK_URL}}'
  SLACK_CHANNEL: '${{ secrets.GITHUBACTIONS_SLACK_CHANNEL }}'

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    environment: |-
      ${{
         github.ref_name == 'dev' && 'dev'
      || github.base_ref == 'dev' && 'dev'
      ||                             'release'
      }}

    steps:
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: "1.21"

    - name: Checkout
      uses: actions/checkout@v4

    - name: Run unit tests
      run: "go test ./..."
    
    - name: Run Notification
      id: runnotificationsent
      uses: act10ns/slack@v1
      with:
        status: ${{ job.status }}
        steps: ${{ toJson(steps) }}
        channel: ${{ env.SLACK_CHANNEL }}
        message: Running CI tests on {{ env.GITHUB_REF_NAME }} branch ${{ job.status }}
      if: always()